html {
  height: 100vh;
  width: 100vw;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  overflow-x: hidden;
  background-color: rgb(47, 47, 47);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.canvas {
  border-style: dashed;
}

.verticalSpace {
  margin-top: 5px;
  margin-bottom: 5px;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#canvasSpace {
  display: flex;
  justify-content: space-evenly;
}

#canvas {
  flex-grow: 1;
}

#canvasVideo {
  flex-grow: 1;
}

#input {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

#output {
  flex-grow: 1;
}

#clusterTable {
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
}
